/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
    font-family: 'Lato', sans-serif;
}
nav{
    background-color: #f04510;
    display: inline;
    position: fixed;
    z-index: 9999;
    width: 100%;
    box-shadow: 0 3px 10px #000c;
}



#logo img {
    height: 50px;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;

}
nav li {
    display: inline;
    margin: 15px;
    padding: 20px;

}
#navbar .nav-link {
    cursor: default;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
    text-shadow: 1px 1px 3px #5f5e5e;
    transition: text-shadow 1s;
}
#navbar .nav-link:hover {
    cursor: default;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
    text-shadow: 1px 1px 3px #000000;
    transition: text-shadow 1s;

}

section{
    margin: 0;
    padding: 80px;
    box-shadow: 0 3px 10px #000c;
    width: 100vw;
}

@media (max-width: 900px){
    section {
        padding: 10px;
    }
}

h5.title{
    font-weight: 700;
    margin: 5px 0;
    text-align: center;
    font-size: 1em;
}

.section-title{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 900;
    text-align: center;
    font-size: 4em;
    margin: 0;
    margin-bottom: 32px;
    text-shadow: 2px 2px 5px #7d7a7a;
    color: #383838;
}


/* ---------------------------------------------------------------------
    sekcja #header
*/

#header {
    background-image: url("../img/hero-background.jpg");
    background-size: cover;
    background-position: center;
    max-height: 100vh;
    height: 100vh;
    padding-top: 150px;
}

#header h1{
    margin-left: 50px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 12px;
    font-size: 4em;
    color: #fff;
    text-shadow: 3px 3px 10px #000;
}

#header p{
    max-width: 760px;
    margin-left: 20px;
    padding: 15px 25px;
    background: #06060659;
    border-radius: 43px;
    font-size: 1.5em;
    color: #fff;
    text-shadow: 1px 1px 3px #000;
    margin-bottom: 68px;
}

a.header-button{
    display: block;
    max-width: 300px;
    border: 7px solid #e0785c;
    padding: 25px 60px;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 900;
    color: #e3613f;
    text-decoration: none;
    text-shadow: 1px 1px 3px #ccc;
    box-shadow: 2px 3px 10px #5d5b5b;
    background: #ffffff54;
    margin-left: 127px;
    transition: background-color 0.2s linear, border-color 0.2s linear, color 0.2s linear, box-shadow 0.5s linear;
}

a.header-button:hover{
    background: #e46140;
    color: #ffff;
    border-color: #e46140;
    text-shadow: 1px 1px 3px #464141;
    box-shadow: 1px 1px 40px 2px #1f1f1fcc;
    transition: background-color 0.2s linear, border-color 0.2s linear, color 0.2s linear, box-shadow 0.5s linear;
}

@media (max-width: 852px) {

    #header{
        padding: 10px;
        padding-top: 120px;
    }
    #header h1{
        font-size: 3em;
    }

    #header p{
        font-size: 1.2em;
        margin: 0;
    }

    a{
        max-wi
    }
}



/*sekcja usability */
.usability {

    text-align: center;
    /*position: relative;
    height: 500px;*/
}

.right {
    float: right;
    margin-right: 50px;
}
/*
.left {
    left: 50%;
}*/

.usability-li {
    text-align: justify-all;
    clear:both;
    width: 100%;
    display: block;

}

.usability-ul {
    display: inline-block;
    position: relative;
    width: 40%;
    list-style-type: none;
    margin-top:50px;
}

.clear {
    clear: both;
}

.usability-descr {
    height: auto;
}

.usability-image{
    width: 150px;
    height: 150px;
    display: inline-block;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.usability-bezpiecz {
    background-image: url("../img/usability1.jpg");
    background-position-x: 220px;
    background-position-y: 350px;


}
.usability-zgod {
    background-image: url("../img/usability2.jpg");
    background-position-x: 200px;
    background-position-y: 350px;

}
.usability-respon {
    background-image: url("../img/usability3.jpg");
    background-position-x: center;
    background-position-y: 200px;

}
.usability-wspol {
    background-image: url("../img/userability4.jpg");
    background-position-y: 300px;
    background-position-x: 220px;

}
.usability-intui {
    background-image: url("../img/usability5.jpg");
    background-position-x: center;
    background-position-y: center;

}
.usability-efekt {
    background-image: url("../img/usability6.jpg");
    background-position-y: center;

}
.usability-satys {
    background-image: url("../img/usability7.jpg");
    background-position-y: 310px;
    background-position-x: center;

}
.usability-powt {
    background-image: url("../img/usability8.jpg");
    background-position-x: right;
    background-position-y: 320px;

}




/* ---------------------------------------------------------------------
    sekcja #team
*/

#team{
    background-color: #f1f1f1;
}

#team-contener{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /*width: 100%;*/
}

#team-contener > .team-item{
    padding: 10px;
    margin: 10px;
}

/*#team-contener .team-img{*/
/*border: solid 3px #cccccc;*/
/*}*/


.team-item a{
    text-decoration: none;
}



/* ---------------------------------------------------------------------
    sekcja #subscribe
*/

#subscribe {
    /*background-image: url("../img/white-background.png");*/
    background: url(../img/subscribe-background.jpg) no-repeat fixed 100%;
    display: flex;
    background-size: cover;
    background-position: center;
    padding: 201px 80px;
}

.subscribe{
    flex-grow: 1;
    padding: 32px;
    border: 1px solid #ccc;
    border-radius: 40px;
    margin: 0 20px;
    box-shadow: 2px 2px 10px #ccc;
    background: #fafafafa;
}

form.subscribe-form {
    position: relative;
    max-width: 80%;
    display: block;
    margin: 0 auto;
}


input.subscribe-input {
    padding: 15px 20px;
    border-radius: 37px;
    min-width: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 1.3em;
    color: #5c98bd;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    border: 1px solid #e46140;
    box-shadow: 1px 1px 5px #e0785c;
}
input.subscribe-input:focus{
    outline: none;
}

button.subscribe-submit{
    display: block;
    position: absolute;
    top: 0px;
    right: -41px;
    padding: 6px 15px;
    border: 1px solid #e46140;
    border-radius: 0 26px 26px 0;
    font-size: 1.3em;
    background: #e46140;
}
button.subscribe-submit i{
    padding: 0 20px;
    font-weight: bold;
    color: #fefefe;
    font-size: 2em;
}
button.subscribe-submit:focus{
    outline: none;
}
button.subscribe-submit:hover{
    background: #aaa;
}

.subscribe-label{
    margin-bottom: 20px;
}
.subscribe-label i{
    font-size: 6em;
    margin: 20px;
    color: #e0785d;
}
.subscribe-label > div {
    display: inline-block;
    margin-left: 30px;
    margin-bottom: 32px;
}
.subscribe-label > div h3{
    margin: 0;
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 5px;
    color: #e46140;
    text-shadow: 1px 1px 3px #aaa;
}
.subscribe-label > div p{
    margin: 0;
}


/* ---------------------------------------------------------------------
    sekcja #footer
*/

footer{
    padding: 5px 20px;
    color: #fefefefe;
    background: #3a3a3a;
    text-align: right;
}

footer p{
    padding: 0;
    margin: 0;
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
