body{
    margin: 0;
}

#game{
    width: 90vw;
    margin: 1rem auto;
    max-width: 800px;
    box-shadow: -3px 5px 14px 3px #0202022e;
}

.game-info{
    background: #495059;
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: 1.1em;
}

#main{
    background-color: #5c98bd;
}

.needs{
    background-color: red;
    background: url("../img/chat (1).png") no-repeat center;
    background-size: cover;
    width: 7rem;
    height: 7rem;
    margin-bottom: 1rem;
    visibility: hidden;
}


#cats .needs > img{
    width: 65%;
    height: auto;
    padding: 19px;
}
#cats{
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

#cats div{
    box-sizing: border-box;
    padding: 5px 5px 0;
}

#cats div img{
    width: 100%;
    height: auto;
}

#items{
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    background: #495059;
}

#items > div{
    /*background-color: #e0785d;*/
    max-width: 100px;
    padding: 5px;
}

#items img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

td {
    border: 1px solid black;
    width: 30px;
    height: 30px;
    background-color: yellow;
}
.active_item{
    outline: 4px solid #5c98bd;
}

#points {
    border: #e46140 0.1rem solid;
    width: 48%;
    height: 3rem;
    background: linear-gradient(to right, darkred, forestgreen);
    border-radius: 3rem;
}
#points img{
    height:100%;
    width:auto;
    transition: margin-left 0.75s;
}
#timer {
    width: 48%;
    height: 3rem;
    border: #5c98bd 0.1rem solid;
    border-radius: 3rem;
}



