body{
    margin: 0;
}

#game{
    /*border: 5px solid yellow;*/
    width: 90vw;
    margin: 10px auto;
}

#main{
    background-color: #5c98bd;
}

#needs{
    background-color: red;
    width: 60px;
    height: 60px;
}

#cats{
    display: flex;
    justify-content: space-around;
    padding: 10rem 10px 2rem;
}

/*#cats div{*/
    /*width: 200px;*/
    /*height: 200px;*/
/*}*/

#cats div img{
    width: auto;
    max-height: 200px;
}

#items{
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    background: #683825;
}

#items > div{
    /*background-color: #e0785d;*/
    min-height: 100px;
    min-width: 99px;
    max-width: 100px;
    padding: 5px;
}

#items img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

td {
    border: 1px solid black;
    width: 30px;
    height: 30px;
    background-color: yellow;
}
.active_item{
    outline: 4px solid #5c98bd;
}
.food{
    background-image: url("catfood.jpeg");
}




