body{
    margin: 0;
}

#game{
    border: 5px solid yellow;
    height: 50vh;
    width: 50vw;
    margin: 10px auto;
}

#main{
    background-color: #5c98bd;
}

#needs{
    background-color: red;
    width: 60px;
    height: 60px;
}

#cats{
    background-color: #3a3333;
    height: 100px;
    width: 100px;
}

#items{
    display: flex;
    justify-content: space-around;
}

#items > div{

    background-color: #e0785d;
    min-height: 100px;
    min-width: 99px;
    max-width: 100px;
}
td {
    border: 1px solid black;
    width: 30px;
    height: 30px;
    background-color: yellow;
}
.active_item{
    border: 5px solid red;
}
.food{
    background-image: url("catfood.jpeg");



}
